<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- general styles --}}
    <link rel="stylesheet" href="/styles/style.css">
    {{!-- tailwind css --}}
    <script src="https://cdn.tailwindcss.com"></script>
    {{!-- search js file --}}
    <script src="/js/searchPlan.js" defer></script>
    <title>{{title}}</title>
</head>
<body class="bg-gray-100 p-6">
    <div
        class="fixed w-full top-0 left-0 flex justify-center items-center bg-gradient-to-b from-emerald-500 via-emerald-300 to-teal-900 py-4 px-6">
        <nav class="flex space-x-4">
            <a href="/" class="text-white hover:text-pink-400">Dashboard</a>
            <a href="/teachers" class="text-white hover:text-pink-400">Teachers</a>
            <a href="/students" class="text-white hover:text-pink-400">Students</a>
            <a href="/new_lesson_plan" class="text-white hover:text-pink-400">Create New Lesson Plan</a>
        </nav>
    </div>
    <div class="mx-auto bg-white p-6 rounded shadow mt-20">
        <div class="w-full flex justify-around items-center mb-6">
            <h1 class="text-3xl font-bold"><span id="subject">{{subject}}</span> Lesson Plans</h1>
            <a href="/new_lesson_plan" class="bg-emerald-500 hover:bg-emerald-400 text-white font-bold py-1 px-4 rounded">Create Lesson Plan</a>
        </div>
        <form>
            <input type="search" class="w-full px-2 py-1 rounded shadow-lg bg-red-200 mb-6" name="query" id="search" placeholder="Search lesson plans...">
        </form>

        {{#if lessonPlansWithIndex}}
        <div class="grid gap-6" id="results">
            {{#each lessonPlansWithIndex}}
            <div class="border border-gray-200 rounded-lg overflow-hidden shadow-lg">
                <div class="p-6">
                    <h2 class="text-xl flex gap-2 font-bold mb-2">
                        <p>{{index}}</p>
                        <p>{{ lesson_title }}</p>
                    </h2>
                    <p><span class="font-semibold">Term:</span> {{ term }}</p>
                    <p><span class="font-semibold">Topic:</span> {{ topic }}</p>
                    <p><span class="font-semibold">Week:</span> {{ week }}</p>
                    <p><span class="font-semibold">Grade Level:</span> {{ grade_level }}</p>
                    <p><span class="font-semibold">Date:</span> {{ date }}</p>
                    <hr class="my-4">
                    <a href="/lesson_plan/{{id}}" class="py-1 px-2 rounded bg-yellow-400">View Lesson Plan</a>
                </div>
            </div>
            {{/each}}
        </div>
        {{else}}
        <p>No lesson plans found.</p>
        {{/if}}
    </div>
</body>
</html>