<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- general styles --}}
    <link rel="stylesheet" href="/styles/style.css">
    {{!-- tailwind css --}}
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{{title}}</title>
</head>

<body class="bg-gray-100 p-6">
    <div
        class="fixed w-full top-0 left-0 flex justify-center items-center bg-gradient-to-b from-emerald-500 via-emerald-300 to-teal-900 py-4 px-6">
        <nav class="flex space-x-4">
            <a href="/" class="text-white hover:text-pink-400">Dashboard</a>
            <a href="/teachers" class="text-white hover:text-pink-400">Teachers</a>
            <a href="/students" class="text-white hover:text-pink-400">Students</a>
            <a href="/new_lesson_plan" class="text-white hover:text-pink-400">Create New Lesson Plan</a>
        </nav>
    </div>
    <div class="mx-auto bg-white p-6 rounded shadow mt-20">
        <div class="w-full flex justify-around items-center mb-6">
            <h1 class="text-3xl font-bold">{{lessonPlan.lesson_title}}</h1>  
        </div>

        {{#if lessonPlan}}
        <div class="grid gap-6">
            <div class="border border-gray-200 rounded-lg overflow-hidden shadow-lg">
                <div class="p-6">
                    <p><span class="font-semibold">Teacher:</span> {{ user.fullnames }}</p>
                    <p><span class="font-semibold">Term:</span> {{ lessonPlan.term }}</p>
                    <p><span class="font-semibold">Topic:</span> {{ lessonPlan.topic }}</p>
                    <p><span class="font-semibold">Week:</span> {{ lessonPlan.week }}</p>
                    <p><span class="font-semibold">Grade Level:</span> {{ lessonPlan.grade_level }}</p>
                    <p><span class="font-semibold">Date:</span> {{ lessonPlan.date }}</p>
                    <hr class="my-4">
                    <p class="font-semibold">Objectives:</p>
                    <p>{{{ lessonPlan.objectives }}}</p>
                    <hr class="my-4">
                    <p class="font-semibold">Standards:</p>
                    <p>{{{ lessonPlan.standards }}}</p>
                    <hr class="my-4">
                    <p class="font-semibold">Materials Needed:</p>
                    <p>{{{ lessonPlan.materials_needed }}}</p>
                    <hr class="my-4">
                    <p class="font-semibold">Teaching Method:</p>
                    <p>{{{ lessonPlan.teaching_method }}}</p>
                    <hr class="my-4">
                    <p class="font-semibold">Instructional Procedures:</p>
                    <p>{{{ lessonPlan.instructional_procedures }}}</p>
                    <hr class="my-4">
                    <p class="font-semibold">Assessment:</p>
                    <p>{{{ lessonPlan.assessment }}}</p>
                    <hr class="my-4">
                    <p class="font-semibold">Homework:</p>
                    <p>{{{ lessonPlan.homework }}}</p>
                    <hr class="my-4">
                    <p class="font-semibold">Feedback:</p>
                    <p>{{{ lessonPlan.feedback }}}</p>
                    <hr class="my-4">
                    <p class="font-semibold">Adjustment:</p>
                    <p>{{{ lessonPlan.adjustment }}}</p>
                </div>
            </div>
            <div class="w-full flex items-center justify-around">
                <a class="py-1 px-2 bg-green-400 rounded w-64 text-center shadow-lg" href="/edit_lesson_plan/{{lessonPlan.id}}">Edit This Lesson Plan</a>
                <form action="/delete_lesson_plan/{{lessonPlan.id}}" method="post">
                    <button class="py-1 px-2 bg-red-400 rounded w-64 text-center shadow-lg" type="submit">Delete This
                        Lesson Plan</button>
                </form>
            </div>
        </div>
        {{else}}
        <p>No lesson plans found for this subject.</p>
        {{/if}}
    </div>
</body>

</html>