<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!--    general styles-->
    <link rel="stylesheet" href="/styles/style.css">
    {{!-- tailwind --}}
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="text-gray-900">
    <div
        class="fixed w-full top-0 left-0 flex justify-center items-center bg-gradient-to-b from-emerald-500 via-emerald-300 to-teal-900 py-4 px-6">
        <nav class="flex space-x-4">
            <a href="/" class="text-white hover:text-pink-400">Dashboard</a>
            <a href="/teachers" class="text-white hover:text-pink-400">Teachers</a>
            <a href="/students" class="text-white hover:text-pink-400">Students</a>
            <a href="/lesson_plans" class="text-white hover:text-pink-400">Lesson Plans</a>
        </nav>
    </div>
    <div class="max-w-3xl mx-auto bg-white p-8 rounded-lg shadow-lg mt-20">
        <h1 class="text-3xl font-bold mb-6 text-center text-blue-800">Teacher Profile</h1>

        <div class="grid grid-cols-2 gap-6">
            <div class="bg-blue-100 rounded-lg p-4">
                <p class="font-semibold text-blue-800">Full Name:</p>
                <p class="mb-2">{{user.fullnames}}</p>

                <p class="font-semibold text-blue-800">Registration Number:</p>
                <p class="mb-2">{{user.registration_number}}</p>

                <p class="font-semibold text-blue-800">Email:</p>
                <p class="mb-2">{{user.email}}</p>

                <p class="font-semibold text-blue-800">Phone:</p>
                <p class="mb-2">{{user.phone}}</p>
            </div>

            <div class="bg-blue-100 rounded-lg p-4">
                <p class="font-semibold text-blue-800">Gender:</p>
                <p class="mb-2">{{user.gender}}</p>

                <p class="font-semibold text-blue-800">Date of Birth:</p>
                <p class="mb-2">{{user.DOB}}</p>

                <p class="font-semibold text-blue-800">Subject 1:</p>
                <p class="mb-2">{{user.subject_one}}</p>

                <p class="font-semibold text-blue-800">Subject 2:</p>
                <p class="mb-2">{{user.subject_two}}</p>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.js"></script>
</body>

</html>