<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{!-- general styles --}}
    <link rel="stylesheet" href="/styles/style.css">
    {{!-- tailwind --}}
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/js/search.js" defer></script>
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input,
        textarea {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        textarea {
            resize: vertical;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            text-align: center;
        }

        .btn:hover {
            background-color: #0056b3;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        .search-container {
            margin-bottom: 20px;
        }

        .search-container input[type="text" "value"] {
            width: 80%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    </style>
</head>

<body>
    <div
        class="fixed w-full top-0 left-0 flex justify-center items-center bg-gradient-to-b from-emerald-500 via-emerald-300 to-teal-900 py-4 px-6">
        <nav class="flex space-x-4">
            <a href="/" class="text-white hover:text-pink-400">Dashboard</a>
            <a href="/teachers" class="text-white hover:text-pink-400">Teachers</a>
            <a href="/students" class="text-white hover:text-pink-400">Students</a>
            <a href="/lesson_plans" class="text-white hover:text-pink-400">Lesson Plans</a>
        </nav>
    </div>
    <h1 class="text-3xl text-center text-white font-bold mb-4 mt-20">List of {{user.fullnames}}'s Students</h1>
    <div class="container search-container mt-10">
        <input type="search" class="py-1 px-2" name="query" id="search" placeholder="search students"/>
        <div class="w-full flex items-center justify-around mt-6">
            <h1 class="text-lg font-bold">
                {{user.fullnames}} All Students:
            </h1>
            <h2>
                <a href="/new_student" class="p-1 mt-6 bg-blue-600 rounded hover:bg-blue-700">
                Register New Student
                </a>
            </h2>
        </div>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Student Name</th>
                    <th>Admission<br>Number</th>
                    <th>Parent/Guardian<br>Number</th>
                    <th>Grade</th>
                    <th>Home address</th>
                    <th>Comment</th>
                    <th>Subject 1</th>
                    <th>Subject 2</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody id="results">
                {{#each students}}
                <tr>
                    <td>{{this.index}}</td>
                    <td>{{this.full_name}}</td>
                    <td>{{this.admission_number}}</td>
                    <td>{{this.guardian_or_parent_number}}</td>
                    <td>{{this.grade}}</td>
                    <td>{{this.home_address}}</td>
                    <td>{{this.comments}}</td>
                    <td>{{this.subject_one}}</td>
                    <td>{{this.subject_two}}</td>
                    <td>
                        <form action="/delete/:{{this.id}}" method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded">Remove</button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>

</html>